  <h1>Welcome to Screwing Around With Google Maps</h1>

  <form method="post" action="/places/create">
    <input type="text" placeholder="Name" name="place[name]"><br>
    <input type="text" placeholder="Address" name="place[address]"><br>
    <input type="text" placeholder="Latitude" name="place[latitude]"><br>
    <input type="text" placeholder="Longitude" name="place[longitude]"><br>
    <input type="submit" value="Add Location"><br>
  </form>
  <br>
  <ul>
    <% @places.each do |place| %>
    <li>
      <a href="/places/<%= place.id %>/show"><%= place.name %></a>
      <p>Address: <%= place.address %> | Latitude: <%= place.latitude %> Longitude: <%= place.longitude %>
      </p>
    </li>
    <% end %>
  </ul>
